<!-- body-text: rich text prose content -->
<div class="body-text">
  <p>Consequat lobortis elementum euismod rhoncus, leo suspendisse amet. Placerat tortor integer commodo eget sodales. Massa massa condimentum facilisi consequat fringilla.</p>

  <p>Fermentum ornare nibh mauris enim proin leo pulvinar. Arcu felis eleifend augue sem. Congue sed a felis quis morbi sed ornare mi id. Non orci sed interdum volutpat aliquet tempor.</p>

  <h2>Rutrum dictum volutpat</h2>

  <p>Uma potenti suspendisse sit ante turpis accumsan habitant sit. Sollicitudin consequat mattis enim dis. Ultricies lacus vel porttitor massa tincidunt.</p>
</div>
