<!-- press: press coverage section on generic/parent event detail pages -->
<section class="press" id="press">
  <h2 class="press__heading">Press</h2>
  <ul class="press__list">

    <li class="press-card">
      <div class="press-card__body">
        <h3 class="press-card__headline">Tim Cook has invested in cryptocurrency personally, but Apple has no plans to do so.</h3>
        <p class="press-card__byline">By Michael J. de la Merced</p>
        <p class="press-card__date">Published Nov. 9, 2021</p>
        <a href="#" class="press-card__link">Read Article →</a>
      </div>
      <div class="press-card__media media-block media-block--3x2">
        <img src="" alt="" class="media-block__img" loading="lazy" />
      </div>
    </li>

    <li class="press-card">
      <div class="press-card__body">
        <h3 class="press-card__headline">Tim Cook has invested in cryptocurrency personally, but Apple has no plans to do so.</h3>
        <p class="press-card__byline">By Michael J. de la Merced</p>
        <p class="press-card__date">Published Nov. 9, 2021</p>
        <a href="#" class="press-card__link">Read Article →</a>
      </div>
      <div class="press-card__media media-block media-block--3x2">
        <img src="" alt="" class="media-block__img" loading="lazy" />
      </div>
    </li>

    <li class="press-card">
      <div class="press-card__body">
        <h3 class="press-card__headline">Tim Cook has invested in cryptocurrency personally, but Apple has no plans to do so.</h3>
        <p class="press-card__byline">By Michael J. de la Merced</p>
        <p class="press-card__date">Published Nov. 9, 2021</p>
        <a href="#" class="press-card__link">Read Article →</a>
      </div>
      <div class="press-card__media media-block media-block--3x2">
        <img src="" alt="" class="media-block__img" loading="lazy" />
      </div>
    </li>

  </ul>
</section>
