<!-- related-events: "You might also like" section -->
<section class="related-events">
  <h2 class="related-events__heading">You might also like</h2>
  <ul class="related-events__grid">
    <li class="related-events__item">
      <a href="#" class="related-event-card">
        <div class="related-event-card__media media-block media-block--3x2">
          <img src="" alt="" class="media-block__img" loading="lazy" />
        </div>
        <div class="related-event-card__body">
          <h3 class="related-event-card__title">Inside Broadway's Reopening: A Virtual Event</h3>
          <p class="related-event-card__desc">Duis porttitor tortor at leo, vel sed sed. Mattis massa semper sed arcu ridiculus. Et ut scelerisque dolor</p>
        </div>
      </a>
    </li>
    <li class="related-events__item">
      <a href="#" class="related-event-card">
        <div class="related-event-card__media media-block media-block--3x2">
          <img src="" alt="" class="media-block__img" loading="lazy" />
        </div>
        <div class="related-event-card__body">
          <h3 class="related-event-card__title">Inside Broadway's Reopening: A Virtual Event</h3>
          <p class="related-event-card__desc">Duis porttitor tortor at leo, vel sed sed. Mattis massa semper sed arcu ridiculus. Et ut scelerisque dolor</p>
        </div>
      </a>
    </li>
  </ul>
</section>
