<!-- sponsors: sponsor logo grid section -->
<section class="sponsors" id="sponsors">
  <h2 class="sponsors__heading">Sponsors</h2>
  <div class="sponsors__grid">
    <div class="sponsors__tier">
      <p class="sponsors__tier-label">Premier Sponsor</p>
      <ul class="sponsors__logos">
        <li class="sponsors__logo-item">
          <img src="" alt="Accenture" class="sponsors__logo" />
        </li>
      </ul>
    </div>
    <div class="sponsors__tier">
      <p class="sponsors__tier-label">Supporting Sponsors</p>
      <ul class="sponsors__logos">
        <li class="sponsors__logo-item"><img src="" alt="Sponsor Name" class="sponsors__logo" /></li>
        <li class="sponsors__logo-item"><img src="" alt="Sponsor Name" class="sponsors__logo" /></li>
        <li class="sponsors__logo-item"><img src="" alt="Sponsor Name" class="sponsors__logo" /></li>
      </ul>
    </div>
  </div>
</section>
